sgminer
sgminer.exe
minerd
minerd.exe
*.o
*.lo
*.bin
*.la
*.pc

autom4te.cache
.deps
.libs

Makefile
Makefile.in
INSTALL
aclocal.m4
m4
configure
libtool
ltmain.sh
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub

mingw32-config.cache

*~

ext_deps
config.h.in
config.h

ccan/libccan.a
ccan/opt/.dirstamp
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h
compat/jansson-2.5/src/jansson_config.h
stamp-h1

mkinstalldirs

*.swp
